.image-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  /* width: 70vw; */
  width: 100vw;
  margin-top: 10px;
}
.carousel-container {
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: center;
}
.carousel-item {
  width: 100%;
  max-height: 70vh;
  object-fit: contain;
}
.img-slider-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.test {
  border: solid black 1px;
}

.dots-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #c2c2c2;
  transition: background-color 0.3s ease-in-out;
}

.dot.active {
  background-color: #6b6b6b;
}
