.exhibition-navbar {
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 10vh;
  font-size: 20px;
  gap: 15px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.fixed {
  position: fixed;
  top: 0;
}

.test {
  border: solid black 1px;
}

.return-link:hover {
  text-decoration: underline;
}
