.exhibition-container {
  display: flex;
  flex-direction: column;
  gap: 20vh;
}

@media (max-width: 1000px) {
  .exhibition-container {
    margin: 10vh 7vw 15vh 7vw;
  }
}

@media (min-width: 1001px) {
  .exhibition-container {
    margin: 10vh 15vw 15vh 15vw;
  }
}
