.ExDescriptions {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .ExDescriptions {
    margin: 5vh 3vw 5vh 3vw;
  }
}

@media (min-width: 901px) {
  .ExDescriptions {
    margin: 5vh 20vw 5vh 20vw;
  }
}

.ExName {
  font-size: 35px;
  font-weight: bold;
}

.Exlieu {
  font-size: 20px;
}
.ExDate {
  font-size: 20px;
}

.ExInfos {
  margin-top: 30px;
  text-align: justify;
}
.para {
  margin-left: 10px;
}

.ExImages-container {
  display: flex;
  flex-direction: column;
  margin: 20px 20vw 20vh 20vw;
  gap: 40px;
}

.ExImage-frame {
  max-height: 80vh;
}

.ExImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 80vh;
}
