.exhibitionItem-container {
  display: flex;
  height: 50vh;
}
.exhibitionImage-container {
  width: 30vw;
  display: flex;
  justify-content: center;
}

.exhibitionImage {
  height: 100%;
  width: auto;
  /* cursor: pointer; */
  /* object-fit: cover; */
  /* border-radius: 10px; */
}
.test {
  border: solid black 1px;
}
.exhibitionDescription {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
