.exhibitionItem-container {
  display: flex;
  min-height: 50vh;
  transition: box-shadow 0.3s;
  padding: 10px;
}

@media (max-width: 650px) {
  .exhibitionItem-container {
    flex-direction: column-reverse;
  }
}

@media (min-width: 651) {
  .exhibitionItem-container {
    flex-direction: row;
  }
}

.exhibitionItem-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.exhibitionImage-container {
  min-width: 25vw;
  display: flex;
  justify-content: center;
}

.exhibitionImage {
  height: 100%;
  width: auto;
}
.test {
  border: solid black 1px;
}
.exhibitionDescription {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.description {
  padding-top: 20px;
  font-size: 15;
}

.lieurelou {
  display: flex;
  justify-content: start;
  align-items: end;
  flex: 1;
  padding: 20px;
}
.lieu {
  font-size: 15px;
}
