.exhibitionItem-container {
  display: flex;
  height: 35vh;
}
.exhibitionImage-container {
  width: 30vw;
}

.exhibitionImage {
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 10px;
}
.test {
  border: solid black 1px;
}
.exhibitionDescription {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
