.gallerynav-container {
  display: flex;
  border: solid black 1px;
  height: 5vh;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  gap: 50px;
}

.gallerynav-item {
  font-size: 20px;
}
