.grid-item {
  background-color: rgb(255, 255, 255);
  /* border: 1px solid #000; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s;
}

@media (max-width: 718px) {
  .grid-item {
    height: 250px;
    padding: 10px;
  }
  .grid-item-image {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 719px) {
  .grid-item {
    height: 500px;
    padding: 20px;
  }
  .grid-item-image {
    max-width: 80%;
    max-height: 80%;
  }
}

.grid-item:hover .artname {
  opacity: 1;
}

.grid-item-image {
  width: auto;
  height: auto;
  cursor: pointer;
}

@keyframes fade-in {
  from {
    filter: blur(5px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
.artname {
  opacity: 0; /* Initially hidden */
  transition: transform 0.3s ease, opacity 0.3s ease;
}
