/* .homeIllustration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90vh;
  max-width: 100vw;
} */

.homeIllustration {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 87vh;
}
