.imageslider-container {
  height: 85vh;
  display: flex;
}
.ImageSlider {
  height: 60vh;
  width: 100%;
  display: flex;
}

.img-slider-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  min-width: 100%;
  scroll-snap-align: center;
}

.Scroller {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}
.Scroller::-webkit-scrollbar {
  display: none;
}
.test {
  border: solid black 1px;
}

.button-container-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.dots-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #c2c2c2;
  transition: background-color 0.3s ease-in-out;
}

.dot.active {
  background-color: #6b6b6b;
}
