.imageslider-container {
  max-width: 1000px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
}
.ImageSlider {
  width: 100%;
  height: 100%;
  display: flex;
}

.img-slider-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  /* flex-shrink: 0;
  flex-grow: 0; */
  min-width: 100%;
}

.img-slider-button {
  all: unset;
  cursor: pointer;
}

.img-slider-btn > * {
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
}

.Scroller {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* overflow: hidden; */
}
.Scroller::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.test {
  border: solid black 1px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
