.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  margin-top: 50px;
  height: 50vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: solid rgb(167, 167, 167) 2px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
