.navbar-container {
  display: flex;
  min-height: 12vh;
  position: sticky;
  top: 0;
  background-color: white;
}
.sub-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.logo-container {
  justify-content: start;
  padding-left: 5vw;
  font-size: 30px;
}

.links-container {
  justify-content: end;
  gap: 2vw;
  padding-right: 5vw;
}

.test {
  border: solid black 1px;
}

.phoneDrawer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4vw;
}
