.pageItem-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
}
.test {
  border: solid black 1px;
}

.button-container {
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  gap: 20px;
}

.button {
  height: 30px;
  width: 30px;
}

.description-phone {
  height: 20vh;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  font-size: 20px;
  align-items: top;
}
