.pageItem-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
}
.test {
  border: solid 1px black;
}

.top-container {
  display: flex;
  height: 7vh;
  justify-content: end;
  align-items: center;
  padding-right: 3vw;
}

.main-container {
  display: flex;
  height: 76vh;
  justify-content: space-between;
}

.main-container-item {
  display: flex;
  min-width: 5vw;
}

.main-container-sub-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5vw;
}

.main-container-image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40vw;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 76vh;
}

.bot-container {
  display: flex;
  height: 17vh;
  justify-content: center;
  align-items: center;
}

.bot-item {
  height: 100%;
  display: flex;
}

.description {
  min-width: 15vw;
}

.thumbnail-container {
  flex: 1;
  min-width: 60vw;
}

.placeholder {
  min-width: 15vw;
}

.icon {
  height: 2vh;
  width: auto;
  cursor: pointer;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.slide-up {
  animation: slideUp 0.5s cubic-bezier(0, 0, 0.3, 1) forwards;
}

.slide-down {
  animation: slideDown 0.5s cubic-bezier(0, 0, 0.4, 1) forwards;
}
