.pageItem-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
}
.test {
  border: solid black 1px;
}

.button-container {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  gap: 20px;
}

.button {
  height: 30px;
  width: 30px;
}

.main-container-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 70vh;
}

.main-image-container-phone {
  padding: 0 8px 0 8px;
  max-height: 60vh;
  width: auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.dots-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #c2c2c2;
  transition: background-color 0.3s ease-in-out;
}

.dot:hover,
.dot.active {
  background-color: #6b6b6b;
}

.description-phone {
  height: 20vh;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  font-size: 20px;
  align-items: top;
}
